@use '@colors' as *;

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  &._loader_s {
    height: 24px;
    width: 24px;
  }

  &._loader_m {
    height: 48px;
    width: 48px;
  }

  &._loader_l {
    height: 60px;
    width: 60px;
  }

  & svg {
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
    fill: $loader-bg;
  }
}