.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxs);
  font-size: 18px;
  padding: var(--space-s) var(--space-l);
  border: 0;

  &.disabled {
    background: var(--button-primary-bg-disabled);
    $c: var(--button-primary-text-disabled);
    color: $c;

    &, & svg {
      fill: $c !important;
    }
  }

  &:not(.disabled):not(.loading):hover {
    background: var(--button-primary-bg-hover);
    $c: var(--button-primary-text-hover);
    color: $c;

    &, & svg {
      fill: $c !important;
    }
  }


}

.buttonSkin_primary {
  background: var(--button-primary-bg);
  $c: var(--button-primary-text);
  color: $c;

  & svg {
    fill: $c !important;
  }
}

.buttonSkin_secondary {
  background: var(--button-secondary-bg);
  $c: var(--button-secondary-text);
  color: $c;

  & svg {
    fill: $c !important;
  }
  border: 1px solid var(--button-secondary-border-color);
}