@use 'colors' as *;

.text {
  display: block;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;

  & {
    -webkit-line-clamp: var(--max-lines, none);
  }

  &:global(.vtitle) {
    font-size: 44px;
    font-weight: bold;
  }
  &:global(.vp-20) {
    font-size: 20px;
  }
  &:global(.vp-18),
  &:global(.vbutton) {
    font-size: 18px;
  }
  &:global(.vp-16) {
    font-size: 16px;
  }
  &:global(.vp-14) {
    font-size: 14px;
  }
  &:global(.wnormal) {
    font-weight: normal;
  }
  &:global(.wmedium) {
    font-weight: 500;
  }
  &:global(.wbold) {
    font-weight: bold;
  }
  &:global(.cprimary) {
    color: $text-primary;
  }
  &:global(.csecondary) {
    color: $text-secondary;
  }
  &:global(.caccent) {
    color: $text-accent;
  }
}
