.checkbox{
  display: flex;
  background-color: var(--checkbox-bg);
  box-shadow: inset 0 0 0 1px var(--checkbox-border);
  width: 40px;
  height: 40px;
  &>input{
    display: none;
    &:not(:checked)~:nth-child(2){
      display: none;
    }
  }
  &:hover{
    background-color: var(--checkbox-bg-hover);
  box-shadow: inset 0 0 0 1px var(--checkbox-border-hover);

  }

  &.disabled{
    background-color: var(--checkbox-bg-disabled);
      box-shadow: inset 0 0 0 1px var(--checkbox-border-disabled);

    &>:nth-child(2)>:first-child{
      stroke: var(--checkbox-check-disabled);
    }
  }
}