.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  & :global(.fill):global(.primary){
    fill: var(--text-primary);
  }
  & :global(.fill):global(.secondary){
    fill: var(--text-secondary);
  }
  & :global(.fill):global(.accent){
    fill: var(--text-accent);
  }
  & :global(.stroke):global(.primary){
    stroke: var(--text-primary);
  }
  & :global(.stroke):global(.secondary){
    stroke: var(--text-secondary);
  }
  & :global(.stroke):global(.accent){
    stroke: var(--text-accent);
  }
}